{% extends "base.html" %}

{% block principal %}
<article>
    <h3>Lista de Livros</h3>
    <!-- Pesquisa -->
    <form method="GET" id="search-form">
        <input type="text" name="search" placeholder="Digite o título do livro...">
        <button type="submit">Buscar</button>
    </form>
    <!-- Pesquisa -->
    {% if qtd_books %}
    <table class="table_c">
        <tr>
            <th>#</th>
            <th>Título</th>
            <th>Ano</th>
            <th>Coleção</th>
            <th>Lido</th>

        </tr>
        {% for book in page %}
        <tr><td>{{ forloop.counter }}</td>
            {%if book.pt_title%}
            <td>{{book.pt_title}}</td>
            {%else%}
            <td>{{book.or_title}}</td>
            {%endif%}
            <td>
                {%if book.year %}
                    {{book.year}}
                {%endif%}
            </td>
            <td>
                {%if book.collection%}
                    {{book.collection}}
                {%endif%}
            </td>
            {% if book in user.books.all %}
                <td><b>Já lido</b> - {{book.date_watched|date:"d/m/Y"}}</td>
            {%else%}
            <td>Não lido<a href="{% url 'books:InserirLido' book.id %}"> - Ler</a></td>
            {% endif %}
        </tr>
        {% endfor %}
    </table>
    {% else %}
    <p><b>Quantidade de filmes cadastrados: {{qtd_books}}</b></p>
    {% endif %}
    
    <div class="pagination-div">
        <ul>
            {% if page.has_previous %}
                {% if page.previous_page_number > 1 %}
                    <li title="{{1}}"><a href="{% url 'books:ListBook'%}?page=1{% if search_query %}&search={{ search_query }}{% endif %}"><<</a></li> 
                {% endif %}
                <li title="{{page.previous_page_number}}"><a href="{% url 'books:ListBook'%}?page={{page.previous_page_number}}{% if search_query %}&search={{ search_query }}{% endif %}">{{ page.previous_page_number }}</a></li>
            {% endif %}
            <li title="{{page.number}}" class="activated"><a href="{% url 'books:ListBook'%}?page={{page.number}}{% if search_query %}&search={{ search_query }}{% endif %}">{{ page.number }}</a></li>
            {% if page.has_next %}
                <li title="{{page.next_page_number}}"><a href="{% url 'books:ListBook'%}?page={{page.next_page_number}}{% if search_query %}&search={{ search_query }}{% endif %}">{{ page.next_page_number }}</a></li>
                {% if page.next_page_number < qtd_pages %}
                <li title="{{qtd_pages}}"><a href="{% url 'books:ListBook'%}?page={{qtd_pages}}{% if search_query %}&search={{ search_query }}{% endif %}">>></a></li>
                {% endif %}
            {% endif %}
        </ul>
    </div>

  </article>
  {% endblock %}