{% extends "base.html" %}

{% block principal %}
<article>
    <h1>Lista de Filmes</h1>
    <!-- Aqui começa a lista dos filmes -->
    <table>
        <tr>
            <th>Título</th>
            <th>Título em Inglês</th>
            <th>Coleção</th>
            <th>Ano</th>
          </tr>
        {% for movie in movies %}
        <tr>
            <td>{{movie.title}}</td>
            <td>{{movie.title_en}}</td>
            <td>{{movie.collection}}</td>
            <td>{{movie.year}}</td>
        </tr>
        
        {%empty%}
        <tr>
            <td>nhum filme encontrado na plataforma</td>
        </tr>
    {% endfor %}
    </table>
  </article>
  {% endblock %}