{% extends "base.html" %}

{% block principal %}
<article>
    <h3>Lista de Filmes</h3>
    {% if qtd_movies %}
    <table class="table_c">
        <tr>
            <th>Título</th>
            <th>Ano</th>
            <th>Assistido</th>
        </tr>
        {% for movie in movies %}
        <tr>
            <td>{{movie.pt_title}}</td>
            <td>{{movie.year}}</td>
            {% if movie in user.movies.all %}
                <td><b>Já assistido</b> - {{movie.date_watched|date:"d/m/Y"}}</td>
            {%else%}
            <td>Não assistido - <a href="{% url 'movies:inserir_assistido' movie.id %}">Assistir</a></td>
            {% endif %}
        </tr>
        {% endfor %}
    </table>
    {% else %}
    <p><b>Quantidade de filmes cadastrados: {{qtd_movies}}</b></p>
    {% endif %}
  </article>
  {% endblock %}