{% extends "base.html" %}

{% block principal %}

<article>
    <h3 style="text-align: center;">keepcontrol - O melhor site de controle de conteúdo assistido da internet!</h3>
    
    <h4>Últimos adicionados</h4>
    
    <table class='table_c'>
        {% for x in all %}
        <tr>
            {%if x.pt_title %}
            <td><a class="detalhe" href="{{ x.get_absolute_url }}">{{x.pt_title}}</a></td>
            {%else%}
            <td><a class="detalhe" href="{{ x.get_absolute_url }}">{{x.or_title}}</a></td>
            {%endif%}
            <td>{%if x.situation%}
                {{x.situation}}
                {%else%}
                {{x.year}}
                {%endif%}
            </td>
            <td>{{x.type}}</td>
        </tr>
        {% endfor %}
    </table>
</article>
{% endblock %}