{% extends "base.html" %}

{% block principal %}

<article>
    <h3 style="text-align: center;">keepcontrol - O melhor site de controle de conteúdo assistido da internet!</h3>
    
    <h4>Últimos adicionados</h4>
    <div class="movie-list-container">
        <div class="arrow left-arrow" id="left-arrow">&lt;</div>
            <div class="movie-list">
            {%for x in all %}
                <div class="movie">
                    <a href="{{ x.get_absolute_url }}">
                        {{x.pt_title}}
                        <!-- <img src="http://placehold.it/150x280" alt="{{x.pt_title}}"> -->
                    </a>
                </div>
            {%endfor%}
            <div class="arrow right-arrow" id="right-arrow">&gt;</div>
        </div>  
    </div>
    
    <table class='table_c'>
        {% for x in all %}
        <tr>
            
            {%if x.pt_title %}
                <td>
                    <a class="detalhe" href="{{ x.get_absolute_url }}">
                        {{x.pt_title}}
                    </a>
                </td>
            {%else%}
                <td>
                    <a class="detalhe" href="{{ x.get_absolute_url }}">
                        {{x.or_title}}
                    </a>
                </td>
            {%endif%}
            <td>
                {%if x.situation%}
                    {{x.situation}}
                {%else%}
                    {{x.year}}
                {%endif%}
            </td>
            <td>
                {{x.type}}
            </td>
        </tr>
        {% endfor %}
    </table>
</article>
{% endblock %}