{% extends "dashboard.html" %}

{% block breadcrumb %}
    {{block.super}}
    <li>|</li>
    <li><a href="{% url 'accounts:DashboardMovies' %}">Filmes</a></li>
{% endblock %}

{% block dashboard_content %}
<div>
    <div class="pure-menu-li">Últimos {{qtd_assistidos}} de {{total_assistidos}} filmes assistidos</div>
    <table class="table_c">
        <thead>
            <tr>
                <th>Título</th>
                <th>Assistido em</th>
            </tr>
        </thead>
        <tbody>
            {% for movie in movies %}
            <tr>
                <td>{{ movie.pt_title }}</td>
                <td>{{ movie.usermovie__date_watched|date:"d/m/Y" }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
<div>
{% endblock %}
