{% extends "dashboard.html" %}

{% block breadcrumb %}
    {{block.super}}
    <li>|</li>
    <li><a href="{% url 'accounts:DashboardBooks' %}">Livros</a></li>
{% endblock %}

{% block dashboard_content %}
<div>
    <div class="pure-menu-li">Últimos {{qtd_lidos}} de {{total_lidos}} livros lidos</div>
    <table class="table_c">
        <thead>
            <tr>
                <th>Título</th>
                <th>Lido em</th>
            </tr>
        </thead>
        <tbody>
            {% for book in books %}
            <tr>
                {%if book.pt_title %}
                <td>{{ book.pt_title }}</td>
                {%else%}
                <td>{{ book.or_title }}</td>
                {%endif%}
                <td>{{ book.userbook__date_watched|date:"d/m/Y" }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
<div>
{% endblock %}
