.breadcrumb {
    background: rgb(160, 160, 160);
    border-radius: 5px;
    padding: 10px 10px 10px 20px;
  }

.breadcrumb li {
    display: inline-block;
    padding: 5px 2px 5px 2px;
  }

.breadcrumb a:visited, .breadcrumb a:link {
    text-decoration: none;
    color: black;
  }