* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;

}

/* --------------- Corpo */

body {
  margin: 0px;
  font-family: Arial, Helvetica, sans-serif;
}

/* --------------- Barra de navegação*/

nav {
  position: -webkit-sticky; /* Necessário para funcionar no Safari */
  position: sticky;
  top: 0;
  /*Os três bagulhos acima é para manter a navbar fixar no top*/
  margin: 0;
  padding: 0;
  background-color: red; /*Não sei como tirar essa barra*/
  /* box-shadow: 0px 1px 5px; */
  
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

nav li {
  float: left;
}
nav li a {
  display: block;
  color: white;
  text-align: center;
  padding: 15px 25px;
  text-decoration: none;
}

nav li a:hover:not(.active) {
  background-color: white;
  color: black;
}

.active {
  background-color: white;
  
}

.active a {
  color: black;
}
/* --------------- Header */

header h3 {
  text-align: center;
}

/* --------------- Article */
a {
  color: #3b8ced;
  text-decoration: none;
}

article{
  padding: 2% 4%;
  text-align: justify;
}

/* --------------- Footer */

footer {
  text-align: center;
  color: white;
  background-color: #333;
  padding: 15px 0px 15px 0px;
}

/*TABLES DA SERIES*/
.table_c {
  border-collapse: collapse;
  width: 100%;
  /* border: 1px solid black; */
}
.table_c th, .table_c td {
  border-bottom: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}
.table_c tr:nth-child(even){
  background-color: #f2f2f2
}

.table-caption caption {
  font-size: 1.2rem;
  font-weight: bold;
  text-align: center;
  margin-bottom: 0.5rem;
}

/*FORMULÁRIO */

/*FORMULÁRIO ERRORS*/
ul.errorlist {
  margin: 0;
  padding: 0;
}
ul.errorlist li {
  color: #C53F3F;
  display: block;
  margin: 0.3em 0;
  font-size: 0.9em;
  border: none;
  padding: 0;
}
form.pure-form-aligned ul.errorlist li {
  padding-left: 11.5em;
}
/*TABLE DO DASHBOARD*/
