{% extends "ListSeasonSerie.html" %}

{% block principal %}
<article>
    <h3>
        {% block title %}
            {{block.super}} - Temporada {{season.number}}
        {% endblock %}
    </h3>
    {%block infor%}
        {{block.super}}
    {%endblock%}
   
    <table class="table_c">
        <tr>
            <th>Episódios</th>
            <th>Assistido</th>      
        </tr>
        {% for ep in eps %}
        <tr>
            {% if ep.pt_title %}
            <td>Episódio {{ep.number}}: {{ep.pt_title}}</td>
            {% elif ep.or_title %}
            <td>Episódio {{ep.number}}: {{ep.or_title}}</td>
            {% else %}
            <td>Episódio {{ep.number}}</td>
            {% endif %}
                {% if ep in user.episodes_serie.all %}  
                    <td><b>Já assistido</b> - {{ep.date_watched|date:"d/m/Y"}} </td>
                {%else%}
                    <td>Não assistido - <a href="{% url 'series:InserirAssistidoEpisodeSerie' ep.id %}">Assistir</a></td>
                {%endif%}
        </tr>
        {% endfor %}
        {%if last_season %}
        <tr>
            <td>
                <a href="{% url 'series:AdicionarNovoEP' season.id season.serie_id %}"> Novo EP </a>
            </td>
            <td>

            </td> 
        </tr>
        {%endif%}
    </table>

</article>
{% endblock %}