{% extends "base.html" %}

{% block principal %}
<article>
    <h3>
        {% block title %}
            {{anime.or_title}}
        {% endblock %}
    </h3>
    {%block infor %}
        Status do anime: <b>{{anime.situation}}</b> | Atualizado em: <b>{{anime.modified_at}}</b>
    {%endblock%}
    | Quantidade de episódios: <b>{{anime.qtd_total_eps}}</b>
    <table class="table_c">
        <tr>
            <th>Temporada</th>
            <th>Episódios</th>
        </tr>
        {% for season in seasons %}
        <tr>
            {%if season.pt_title%}
            <td><a class="detalhe" href="{{ season.get_absolute_url }}">Temporada {{season.number}}: {{season.pt_title}}</a></td>
            {%else%}
            <td><a class="detalhe" href="{{ season.get_absolute_url }}">Temporada {{season.number}}</a></td>
            {%endif%}
            <td>Assistido {{season.qtd_assistido}} de {{season.qtd_eps}}{%if season.qtd_assistido is season.qtd_eps%}{%else%} - <a href="{% url 'animes:InserirAssistidoSeasonAnime' season.id season.anime_id %}">Marcar como assistido</a>{%endif%}</td>   
        </tr>
        {% endfor %}
    </table>

  </article>
  {% endblock %}