{% extends "base.html" %}

{% block principal %}
<article>
    <h1>
        {% block ordem %}
            {{serie.or_title}}
        {% endblock %}
    </h1>
    <p>Status da série: <b>{{serie.situation}}</b></p>
    <table class="table_c">
        <tr>
            <th>Temporada</th>
            <th>Episódios</th>
        </tr>
        {% for season in seasons %}
        <tr>
            {%if season.pt_title%}
            <td><a class="detalhe" href="{{ season.get_absolute_url }}">Temporada {{season.number}}: {{season.pt_title}}</a></td>
            {%else%}
            <td><a class="detalhe" href="{{ season.get_absolute_url }}">Temporada {{season.number}}</a></td>
            {%endif%}<td>{{season.qtd_eps}}</td>
        </tr>
        {% endfor %}
        <tr>
            <td></td>
            <td><b>{{serie.qtd_total_eps}}</b></td>
        </tr>
    </table>

  </article>
  {% endblock %}