{% extends "base.html" %}

{% block principal %}
<article>
    <h3>
        {% block title %}
            {{serie.or_title}}
        {% endblock %}
    </h3>
    {%block infor %}
        Status do série: <b>{{serie.situation}}</b> | Atualizado em: <b>{{serie.modified_at}}</b>
    {%endblock%}
    | Quantidade de episódios: <b>{{serie.qtd_total_eps}}</b>
    <table class="table_c">
        <tr>
            <th>Temporada</th>
            <th>Episódios</th>
        </tr>
        {% for season in seasons %}
        <tr>
            {%if season.pt_title%}
            <td><a class="detalhe" href="{{ season.get_absolute_url }}">Temporada {{season.number}}: {{season.pt_title}}</a></td>
            {%else%}
            <td><a class="detalhe" href="{{ season.get_absolute_url }}">Temporada {{season.number}}</a></td>
            {%endif%}<td>{{season.qtd_eps}}</td>
        </tr>
        {% endfor %}
    </table>

  </article>
  {% endblock %}