{% extends "base.html" %}

{% block principal %}
<article>
    <h3>Lista de Séries</h3>
    {% if qtd_series %}
    <table class="table_c">
        <tr>
            <th>Título</th>
            <th>Temporadas</th>
            <th>Situação</th>
        </tr>
        {% for serie in series %}
        <tr>
            <td><a class="detalhe" href="{{ serie.get_absolute_url }}">{{serie.or_title}}</a></td>
            <td>{{serie.qtd_temps}}</td>
            <td>{{serie.situation}}</td>      
           
        </tr>
        {% endfor %}
    </table>
    {% else %}
    <p><b>Quantidade de séries cadastradas: {{qtd_series}}</b></p>
    {% endif %}
  </article>
  {% endblock %}