{% extends "serie_details.html" %}

{% block principal %}
<article>
    {% block ordem %}
    <h1>{{block.super}} - {{season.title}}</h1>
    {% endblock %}
   
    <table class="table_c">
        <tr>
            <th>Episódios</th>
            {% if user.is_authenticated %}
            <th>Assistido</th>
            {% else %}
            {% endif %}
        </tr>
        {% for ep in eps %}
        <tr>
            {% if ep.title %}
            <td>Episódio {{ep.number}}: {{ep.title}}</td>
            {% else %}
            <td>Episódio {{ep.number}}</td>
            {% endif %}
            {% if user.is_authenticated %}
                {% if ep in user.episodes.all %}
                    
                    <td><b>Já assistido</b> - {{ep.assist}} </td>
                {%else%}
                    <td>Não assistido</td>
                {%endif%}
            {% endif %}
        </tr>
        {% endfor %}
    </table>

  </article>
  {% endblock %}