{% extends "serie_details.html" %}

{% block principal %}
<article>
    {% block ordem %}
    <h1>{{block.super}} - {{season.title}}</h1>
    {% endblock %}
   
    <table class="table_c">
        <tr>
            <th>Episódios</th>
            {% if user.is_authenticated %}
            <th>Assistido</th>
            {% else %}
            {% endif %}
        </tr>
        {% for ep in eps %}
        <tr>
            <td>{{ep.title}} - {{ep.season.title}}</td>
            {% if user.is_authenticated %}
            {% if ep in user.episodes.all %}
            <td><b>Já assistido</b> {{ep}}</td>
            {%else%}
            <td>Não assistido</td>
            {%endif%}
            {% endif %}
        </tr>
        {% endfor %}
    </table>

  </article>
  {% endblock %}