{% extends "base.html" %}

{% block principal %}
<article>
    <h1>Lista de Séries</h1>
    <p><b>Quantidade de séries cadastradas: {{qtd_series}}</b></p>
    <!-- Aqui começa a lista dos filmes -->
    <table>
        <tr>
            <th>Título</th>
            <th>Temporadas</th>
            <th></th>
        </tr>
        {% for serie in series %}
        <tr>
            <td>{{serie.title}}</td>
            <td>{{serie.qtd_temps}}</td>
            <td><a class="detalhe" href="{{ serie.get_absolute_url }}">Detalhe</a></td>
        </tr>
        {%empty%}
        <tr>
            <td>Nenhum Temporada encontrado na plataforma</td>
        </tr>
        {% endfor %}
    </table>
  </article>
  {% endblock %}