{% extends "base.html" %}

{% block principal %}
<article>
    <h1>Lista de Séries</h1>
    <!-- Aqui começa a lista dos filmes -->
    {% if qtd_series %}
    <table class="table_c">
        <tr>
            <th>Título</th>
            <th>Temporadas</th>
            <th>Situação</th>
        </tr>
        {% for serie in series %}
        <tr>
            {%if serie.pt_title%}
            <td><a class="detalhe" href="{{ serie.get_absolute_url }}">{{serie.pt_title}}</a></td>
            {%else%}
            <td><a class="detalhe" href="{{ serie.get_absolute_url }}">{{serie.or_title}}</a></td>
            {%endif%}
            <td>{{serie.qtd_temps}}</td>
            <td>{{serie.situation}}</td>      
            <!-- <td><a class="detalhe" href="{{ serie.get_absolute_url }}">Temporadas</a></td> -->
        </tr>
        {% endfor %}
    </table>
    {% else %}
    <p><b>Quantidade de séries cadastradas: {{qtd_series}}</b></p>
    {% endif %}
  </article>
  {% endblock %}