{% extends "dashboard.html" %}

{% block breadcrumb %}
    {{block.super}}
    <li>|</li>
    <li><a href="{% url 'accounts:DashboardMangas' %}">Mangás</a></li>
{% endblock %}

{% block dashboard_content %}
<div>
    <div class="pure-menu-li">Últimos {{qtd_lidos}} de {{total_lidos}} capítulos de mangás lidos</div>
    <table class="table_c">
        <thead>
            <tr>
                <th>Título</th>
                <th>Volume</th>
                <th>Mangá</th>
                <th>Lido em</th>
            </tr>
        </thead>
        <tbody>
            {% for cap in capmangas %}
            <tr>
                <td>Capítulo {{ cap.number }}</td>
                <td>Temporada {{ cap.volume__number}}</td>
                <td>{{ cap.volume__manga__or_title}}</td>
                <td>{{ cap.userchaptermanga__date_watched|date:"d/m/Y" }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    </div>
</div>
{% endblock %}
