{% extends "base.html" %}

{% load static %}

{% block principal %}
<article>
    <div>
        <ul class="breadcrumb">
            {% block breadcrumb %}
            <li><a href="{% url 'accounts:dashboard' %}">Meu Painel</a></li>
            {% endblock %}
        </ul>
    </div>
    <div class="principal-group">
        <div class="left-side-menu">
            <div>
                <ul>
                    <li class="pure-menu-li">Minha Conta</li>
                    <li><a href="{% url 'accounts:edit' %}">Editar Conta</a></li>
                    <li><a href="{% url 'accounts:edit_password' %}">Editar Senha</a></li>
                </ul>
                <ul>
                    <li class="pure-menu-li">Conteúdos</li>
                    <li><a href="{% url 'accounts:DashboardSeries' %}">Séries</a></li>
                    <li><a href="{% url 'accounts:DashboardAnimes' %}">Animes</a></li>
                    <!-- <li><a href="{% url 'accounts:DashboardMangas' %}">Mangas</a></li> -->
                    <li><a href="{% url 'accounts:DashboardMovies' %}">Filmes</a></li>
                    <!-- <li><a href="{% url 'accounts:DashboardBooks' %}">Livros</a></li> -->
                </ul>
            </div>
        </div>
        <div class="right-side-body">
            {% block dashboard_content %}
                <div>
                    <p><strong>Nome</strong>: {{ user.name }}</p>
                    <p><strong>Usuário</strong>: {{ user.username }}</p>
                    <p><strong>E-mail</strong>: {{ user.email }}</p>
                </div>
            {% endblock %} 
        </div>
    </div>
</article>
{%endblock%}
