{% extends "base.html" %}

{% load static %}

{% block principal %}
<article>
    <div>
        <ul class="breadcrumb">
            {% block breadcrumb %}
            <li><a href="{% url 'accounts:dashboard' %}">Meu Painel</a></li>
            {% endblock %}
        </ul>
    </div>
    <div class="principal-group">
        <div class="left-side-menu">
            <div>
                <ul>
                    <li class="pure-menu-li">Minha Conta</li>
                    <li><a href="{% url 'accounts:edit' %}">Editar Conta</a></li>
                    <li><a href="{% url 'accounts:edit_password' %}">Editar Senha</a></li>
                </ul>
                <ul>
                    <li class="pure-menu-li">Conteúdos</li>
                    <li><a href="{% url 'accounts:DashboardSeries' %}">Séries</a></li>
                    <li><a href="{% url 'accounts:DashboardAnimes' %}">Animes</a></li>
                    <li><a href="{% url 'accounts:DashboardMangas' %}">Mangás</a></li>
                    <li><a href="{% url 'accounts:DashboardMovies' %}">Filmes</a></li>
                    <li><a href="{% url 'accounts:DashboardBooks' %}">Livros</a></li>
                </ul>
            </div>
        </div>
        <div class="right-side-body">
            {% block dashboard_content %}
                <div>
                    <p><strong>Nome</strong>: {{ user.name }}</p>
                    <p><strong>Usuário</strong>: {{ user.username }}</p>
                    <p><strong>E-mail</strong>: {{ user.email }}</p>
                </div>
                <div>
                    <h4>Últimos adicionados</h4>
    
                    <table class="table_c">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Título</th>
                                <th>Data</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for x in all %}
                                {%if x.type == 'Filme' %}
                                    <tr>
                                        <td>{{x.type}}</td>
                                        <td>{{x.pt_title}} ({{x.year}})</td>
                                        <td>{{x.date_watched}}</td>
                                    </tr>
                                {%elif x.type == 'Livro' %}
                                    <tr>
                                        <td>{{x.type}}</td>
                                        <td>{{x.pt_title}} ({{x.year}})</td>
                                        <td>{{x.date_watched}}</td>
                                    </tr>
                                {%elif x.type == 'Série' %}
                                    <tr>
                                        <td>{{x.type}}</td>
                                        <td>Episódio {{x.number}} - Temporada {{x.season__number}} - <a class="detalhe" href="{% url 'series:ListSeasonSerie' x.season__serie__id %}">{{x.season__serie__or_title}}</a></td>
                                        <td>{{x.date_watched}}</td>
                                    </tr>
                                {% elif x.type == 'Anime' %}
                                    <tr>
                                        <td>{{x.type}}</td>
                                        <td>Episódio {{x.number}} - Temporada {{x.season__number}} - <a class="detalhe" href="{% url 'animes:ListSeasonAnime' x.season__anime__id %}">{{x.season__anime__or_title}}</a></td>
                                        <td>{{x.date_watched}}</td>
                                    </tr>
                                {% elif x.type == 'Mangá' %}
                                    <tr>
                                        <td>{{x.type}}</td>
                                        <td>Capítulo {{x.number}} - Volume {{x.volume__number}} - <a class="detalhe" href="{% url 'mangas:ListVolumeManga' x.volume__manga__id %}">{{x.volume__manga__or_title}}</a></td>
                                        <td>{{x.date_watched}}</td>
                                    </tr>
                               {%endif%}
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            {% endblock %} 
        </div>
    </div>
</article>
{%endblock%}