{% extends "dashboard.html" %}

{% block breadcrumb %}
    {{block.super}}
    <li>|</li>
    <li><a href="{% url 'accounts:DashboardAnimes' %}">Animes</a></li>
{% endblock %}

{% block dashboard_content %}
<div>
    <div class="pure-menu-li">Últimos 10 de {{qtd_assistidos}} episódios de animes assistidos</div>
    <table class="table_c">
        <thead>
            <tr>
                <th>Título</th>
                <th>Temporada</th>
                <th>Anime</th>
                <th>Assistido em</th>
            </tr>
        </thead>
        <tbody>
            {% for ep in epanimes %}
            <tr>
                <td>Episódio {{ ep.number }}</td>
                <td>Temporada {{ep.season__number}}</td>
                <td>{{ep.season__anime__or_title}}</td>
                <td>{{ ep.userepisodeanime__date_watched|date:"d/m/Y" }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    </div>
</div>
{% endblock %}
