{% extends "dashboard.html" %}

{% block breadcrumb %}
    {{block.super}}
    <li>|</li>
    <li><a href="{% url 'accounts:DashboardSeries' %}">Séries</a></li>
{% endblock %}

{% block dashboard_content %}
<div>
    <div>
        <div class="pure-menu-li">Últimas 10 séries assistidas</div>
        <table class="table_c">
            <thead>
                <tr>
                    <th>Título</th>
                    <th>Temporada</th>
                    <th>Série</th>
                    <th>Assistido em</th>
                </tr>
            </thead>
            <tbody>
                {% for ep in epseries %}
                <tr>
                    <td>Episódio {{ ep.number }}</td>
                    <td>Temporada {{ep.season__number}}</td>
                    <td>{{ep.season__serie__or_title}}</td>
                    <td>{{ ep.userepisodeserie__date_watched|date:"d/m/Y" }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    
</div>
{% endblock %}
