<style>
    .button_gerenciar {
        padding: 7px;
        margin: 5px;
    }
</style>

{% extends "dashboard.html" %}

{% block breadcrumb %}
    {{block.super}}
    <li>|</li>
    <li><a href="{% url 'accounts:DashboardManager' %}">Gerenciar</a></li>
{% endblock %}

{% block dashboard_content %}
<div>
    <div class="pure-menu-li">Adicionar</div>
    <div>
        <a href="{% url 'accounts:DashboardAddSerie' %}">Adicionar Série/Temporada/Episódio</a>
        <br>
        <a href="{% url 'accounts:DashboardAddSerieCompleta' %}">Adicionar Série Completa</a>
    </div><br>
    <div>
        <a href="{% url 'accounts:DashboardAddAnime' %}">Adicionar Anime/Temporada/Episódio</a>
        <br>
        <a href="{% url 'accounts:DashboardAddAnimeCompleto' %}">Adicionar Anime Completa</a>
    </div><br>
    <div>
        <a href="{% url 'accounts:DashboardAddManga' %}">Adicionar Mangá/Temporada/Episódio</a>
        <br>
        <a href="{% url 'accounts:DashboardAddMangaCompleto' %}">Adicionar Mangá Completa</a>
    </div><br>
    <div>
        <a href="{% url 'accounts:DashboardAddMovie' %}">Adicionar Filme</a>
    </div><br>
    <div>
        <a href="{% url 'accounts:DashboardAddBook' %}">Adicionar Livro</a>
    </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>


<script type="application/javascript">
    $(document).ready(function() {
        $('.select2').select2();
    });
</script>
{% endblock %}