{% extends "dashboard.html" %}

{% block breadcrumb %}
    {{block.super}}
    <li>|</li>
    <li><a href="{% url 'accounts:edit_password' %}">Editar Senha</a></li>
{% endblock %}

{% block dashboard_content %}
<div>
    <form method='POST'>
        {% csrf_token %}
        {% if success %}
        <p>A sua senha foi alterada com sucesso</p>
        {% endif %}
        <fieldset>
            {{ form.non_field_errors }} <!-- Erros que não estão associados aos campos -->
            {% for field in form %}
            <div>
                {{field.label_tag}}
                <input type="{{ field.field.widget.input_type }}" name="{{ field.name }}" class="form-control" id="{{ field.id_for_label }}" value="{{ field.value|default_if_none:'' }}">
                {{field.errors}} <!-- Erros de cada campo -->
            </div>
            {% endfor %}
            <div>
                <button type="submit">Alterar Senha</button>
            </div>
        </fieldset>
    </form>
</div>
{% endblock %}
