{% extends "base.html" %}

{% block principal %}
<article>
    <h1>
        {% block ordem %}
            {{anime.pt_title}}
        {% endblock %}
    </h1>
    <p>Status da série: <b>{{anime.situation}}</b></p>
    <table class="table_c">
        <tr>
            <th>Temporada</th>
            <th>Episódios</th>
        </tr>
        {% for season in seasons %}
        <tr>
            <td><a class="detalhe" href="{{ season.get_absolute_url }}">{{season.pt_title}}</a></td>
            <td>{{season.qtd_eps}}</td>
            <!-- <td><a class="detalhe" href="{% url 'animes:season_details' anime.id season.id %}">Episódios</a></td>           -->
          
        </tr>
        {% endfor %}
        <tr>
            <td></td>
            <td><b>{{anime.qtd_total_eps}}</b></td>
        </tr>
    </table>

  </article>
  {% endblock %}