{% extends "base.html" %}

{% block principal %}
<article>
    <h1>Lista de Animes</h1>
    <ul>
        Anime 1
        <ul>
        Temporada 1
            
            <ul>
                <li>Episódio 1</li>
                <li>Episódio 2</li>
            </ul>
        </ul>
        <ul>
            Temporada 2
               <ul>
                   <li>Episódio 1</li>
                   <li>Episódio 2</li>
            </ul>
        </ul>
    </ul>
    <ul>
        Anime 2
        <ul>
        Temporada 1
            
            <ul>
                <li>Episódio 1</li>
                <li>Episódio 2</li>
            </ul>
        </ul>
        <ul>
            Temporada 2
               <ul>
                   <li>Episódio 1</li>
                   <li>Episódio 2</li>
            </ul>
        </ul>
        <ul>
            Temporada 3
               <ul>
                   <li>Episódio 1</li>
                   <li>Episódio 2</li>
                   <li>Episódio 3</li>
                   <li>Episódio 4</li>
                   <li>Episódio 5</li>
            </ul>
        </ul>
    </ul>
    <ul>
        Anime 3
        <ul>
        Temporada 1
            
            <ul>
                <li>Episódio 1</li>
                <li>Episódio 2</li>
            </ul>
        </ul>
    </ul>
  </article>
  {% endblock %}