{% extends "ListSeasonAnime.html" %}

{% block principal %}
<article>
    {% block ordem %}
    <h1>{{block.super}} - Temporada {{season.number}}</h1>
    {% endblock %}
   
    <table class="table_c">
        <tr>
            <th>Episódios</th>
            <th>Assistido</th>      
        </tr>
        {% for ep in eps %}
        <tr>
            {% if ep.pt_title %}
            <td>Episódio {{ep.number}}: {{ep.pt_title}}</td>
            {% else %}
            <td>Episódio {{ep.number}}</td>
            {% endif %}
                {% if ep in user.episodes_animes.all %}  
                    <td><b>Já assistido</b> - {{ep.date_watched}} </td>
                {%else%}
                    <td>Não assistido</td>
                {%endif%}
        </tr>
        {% endfor %}
    </table>

  </article>
  {% endblock %}