{% extends "base.html" %}

{% block principal %}
<article>
    <h3>
        {% block ordem %}
            {{anime.pt_title}}
        {% endblock %}
    </h3>
    <p>Status do anime: <b>{{anime.situation}}</b> | Quantidade de episódios: <b>{{anime.qtd_total_eps}}</b></p>
    <table class="table_c">
        <tr>
            <th>Temporada</th>
            <th>Episódios</th>
        </tr>
        {% for season in seasons %}
        <tr>
            {%if season.pt_title%}
            <td><a class="detalhe" href="{{ season.get_absolute_url }}">Temporada {{season.number}}: {{season.pt_title}}</a></td>
            {%else%}
            <td><a class="detalhe" href="{{ season.get_absolute_url }}">Temporada {{season.number}}</a></td>
            {%endif%}
            <td>Assistido {{season.qtd_assistido}} de {{season.qtd_eps}}</td>   
        </tr>
        {% endfor %}
    </table>

  </article>
  {% endblock %}