{% extends "base.html" %}

{% block principal %}
<article>
    <h3>Lista de Animes</h3>
    
    {% if qtd_animes %}
    <table class="table_c">
        <tr>
            <th>Título</th>
            <th>Temporadas</th>
            <th>Situação</th>
        </tr>
        {% for anime in animes %}
        <tr>
            <td><a class="detalhe" href="{{ anime.get_absolute_url }}">{{anime.pt_title}}</a></td>
            <td>{{anime.qtd_temps}}</td>
            <td>{{anime.situation}}</td>      
           
        </tr>
        {% endfor %}
    </table>
    {% else %}
    <p><b>Quantidade de animes cadastrados: {{qtd_animes}}</b></p>
    {% endif %}
  </article>
  {% endblock %}