{% extends "ListSeasonAnime.html" %}

{% block principal %}
<article>
    <h3>
        {% block title %}
            {{block.super}} - Temporada {{season.number}}{%if season.pt_title%}: {{season.pt_title}}{%endif%}
        {% endblock %}
    </h3>
    {%block infor%}
        {{block.super}}
    {%endblock%}
   
    <table class="table_c">
        <tr>
            <th>Episódios</th>
            <th>Assistido</th>      
        </tr>
        {% for ep in eps %}
        <tr>
            {% if ep.pt_title %}
            <td>Episódio {{ep.number}}: {{ep.pt_title}}</td>
            {% else %}
            <td>Episódio {{ep.number}}</td>
            {% endif %}
                {% if ep in user.episodes_anime.all %}  
                    <td><b>Já assistido</b> - {{ep.date_watched|date:"d/m/Y"}} </td>
                {%else%}
                <td>Não assistido - <a href="{% url 'animes:InserirAssistidoEpisodeAnime' ep.id %}">Assistir</a></td>
                {%endif%}
        </tr>
        {% endfor %}
    </table>

  </article>
  {% endblock %}